

<!-- src/app/header/header.component.html -->
<div id="header">
  <div class="container">
    <h1>My Gallery</h1>
  </div>
  <div id="navigation">
    <div id="homeNav">
      <a routerLink='home' id="homeText"> <img id="home" src="assets/home_1946488.png" alt="Home"> Home</a>
   
    </div>
    <div id="aboutNav">
      <a routerLink='about' id="aboutText"> <img id="home" src="assets/icons8-about-24.png" alt="About"> About</a>
 
    </div>
    <div id="albumNav">

      <a routerLink='album' id="albumText"> <img id="album" src="assets/image-gallery.png" alt="Album"> Album</a>
    </div>
  </div>
</div>
