<div class="container">
    <h2 class="title">Products</h2>
    <div *ngFor="let product of products" class="product-container">
        <img src="{{product.imageUrl}}" alt="product image">
        <h3 class="product-title">
            <a [title]="product.name + ' details'" [routerLink]="['/products', product.id]">
                {{product.name}}
            </a>
        </h3>
        <p *ngIf="product.price" class="price">
            Price: {{product.price}} ₸
        </p>
        <button type="button" class="share-btn" (click)="share(product.link)">Share with Telegram</button>
    </div>
</div>
