


.album-detail {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
}

.album-detail h2 {
  margin-top: 0;
}

.detail-item {
  margin-bottom: 5px;
}

.detail-item label {
  font-weight: bold;
  margin-right: 5px;
}

.title-input {
  width: 200px;
  margin-right: 10px;
}

.rename-button {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.return-button,
.photos-link {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}

.return-button:hover,
.photos-link:hover {
  background-color: #0056b3;
}

.loading {
  text-align: center;
  margin-top: 20px;
}

a{
  margin-left: 50px;
}