.content {
    margin: 0 auto;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.product-details {
    width: 80%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid gray;
    padding: 3%;
    margin-top: 20px; 
    margin-left: 400px;
}

.characteristics {
    flex: 1;
    padding-right: 20px;
    font-size: 18px;
}

.characteristics h3 {
    margin-top: 0;
}

img {
    max-width: 200px; 
    height: auto;
    margin-right: 20px;
     
}

.content h2 {
    margin-bottom: 20px; 
    text-align: center;
    margin-left: 600px;
}
