<!-- product-item.component.html -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div id="box">
  <div class="items">
    <h1>{{product.name}}</h1>
    <img [src]="product.imageUrl" alt="image">
    <div class="detial-box">
      <p>
        <a class="item-link" href="{{ product.link }}" target="_blank">{{ product.detail }}</a>
      </p>
 
  
    </div>

    <div class="star-container">
      <span *ngFor="let star of getStarsArray()" class="fa" [ngClass]="{'fa-star': star, 'fa-star-o': !star}" (click)="toggleStar()"></span>
    </div>


    <button class="button1" (click)="share(product)">ShareTelegram</button>

    <button class="button2" (click)="share1(product)">ShareWhatsapp</button>

    <button class="button2" (click)="delete(product)">Remove</button>
  </div>
</div>
